---
footer_project_nav: false
---
= wrap_layout :layout do
  %article.case-study
    .project__header
      %h1.project__heading #{current_page.data.title}
      - if current_page.data.description
        %p.project__subheading #{current_page.data.description}
      - if current_page.data.role
        %p.project__organization #{current_page.data.role}
    = yield

  - if current_page.data.footer_project_nav
    = partial "projects/case-studies-nav"
